simtrace_viewer/*.class
simtrace_viewer/*.jar
boot_code/*.obj
boot_code/*.elf
boot_code/*.lst
bin/*.jar
proto/*.jar
proto/scaffold.o
proto/scaffold.pb.cc
proto/scaffold.pb.h
proto/scaffold_SAPI
scaffold_SAPI
simtrace_viewer/META-INF
bin/a64sim
bin/show_memtrace
bin/show_memtrace_summary
bin/show_sim_monitor_trace
bin/show_simtrace
bin/show_simtrace_history
bin/simtrace_viewer.sh
*.jar
tmpdir
obj
utils/ini2xml
*.elf




